1. What are data structures, and why are they important?


Data structures are ways to organize and store data so that it can be accessed and modified efficiently. They are crucial because they enable efficient data manipulation, storage, and retrieval, which is essential for building efficient algorithms and applications.

2.Explain the difference between mutable and immutable data types with examples.

Mutable data types can be changed after creation, while immutable data types cannot. Examples:

Mutable: Lists (my_list = [1, 2, 3] → my_list[0] = 4 changes the list)

Immutable: Tuples (my_tuple = (1, 2, 3) → my_tuple[0] = 4 raises an error)

3. What are the main differences between lists and tuples in Python?

Lists are mutable, can change after creation, and are defined with square brackets [].
Tuples are immutable, cannot change after creation, and are defined with parentheses ().

4. Describe how dictionaries store data.


Dictionaries store data as key value pairs, where each key is unique and maps to a specific value. They use a hashing mechanism to allow for fast access, modification, and retrieval.

5. Why might you use a set instead of a list in Python?


Sets are used to store unique elements without duplicates and offer faster membership tests due to their underlying hash table implementation.

6. What is a string in Python, and how is it different from a list?


A string is a sequence of characters and is immutable. Unlike lists, which can store any data type, strings only store characters, and their elements cannot be changed after creation.

7. How do tuples ensure data integrity in Python?

   
Tuples are immutable, so once created, their elements cannot be changed. This immutability ensures that the data stored in a tuple remains constant throughout the program.

8. What is a hash table, and how does it relate to dictionaries in Python?

A hash table is a data structure that uses a hash function to map keys to values, allowing for fast data retrieval. Python dictionaries use hash tables to implement their key-value pair storage.

9. Can lists contain different data types in Python?

Yes, lists in Python can contain elements of different data types, such as integers, strings, and objects.

10. Explain why strings are immutable in Python.

Strings are immutable in Python to ensure that they remain consistent and secure. This immutability also allows strings to be used as keys in dictionaries and other data structures that require immutability.

11. What advantages do dictionaries offer over lists for certain tasks?

Dictionaries offer fast lookups, insertions, and deletions using keys, making them ideal for tasks where data needs to be accessed by a unique identifier.

12. Describe a scenario where using a tuple would be preferable over a list.

When you need to store fixed data that shouldn't change, such as database records, coordinates, or dictionary keys.

13. How do sets handle duplicate values in Python?
Sets automatically remove duplicate values when created or updated.

14. How does the “in” keyword work differently for lists and dictionaries?

In lists, it checks if a value exists in the sequence (O(n)).
In dictionaries, it checks if a key exists (O(1)).

15. Can you modify the elements of a tuple? Explain why or why not.
No, tuples are immutable, meaning their elements cannot be changed after creation.

16. What is a nested dictionary, and give an example of its use case?
A dictionary within a dictionary is called a nested dictionary. It is useful for hierarchical data storage.

In [1]:
student = {
    "name": "Gerald",
    "grades": {"math": 90, "physics": 85}
}

17. Describe the time complexity of accessing elements in a dictionary.

The average time complexity is O(1) (constant time) due to hash table lookup, but it can be O(n) in worst case scenarios (hash collisions).

18. In what situations are lists preferred over dictionaries?

When maintaining order is important.
When sequential operations (sorting, slicing) are needed.
When elements don’t need unique keys.

19. Why are dictionaries considered unordered, and how does that affect data retrieval?

Dictionaries are considered unordered because they store key-value pairs using a hash table, which does not maintain a specific order of elements.
Effect on data retrieval:

Since dictionaries use hashing, lookup operations (dict[key]) are very fast (O(1)) regardless of order.
Unlike lists, dictionaries cannot be indexed by position; they are accessed using keys.
Iterating over a dictionary in versions before Python 3.7 could return items in an unpredictable order.

20. Explain the difference between a list and a dictionary in terms of data retrieval.

Lists retrieve elements by index, requiring O(n) lookup for search.
Dictionaries retrieve values using keys in O(1) time.

In [ ]:
PRACTICAL QUESTIONS

1. Write a code to Create and print a string with your name.

In [3]:
name = "Wadada"
print(name)

Wadada

2. Write a code to Find the length of the string "Hello World":

In [5]:
string = "Hello World"
length = len(string)
print(length)

11

3. Write a code to Slice the first 3 characters from the string "Python Programming":

In [7]:
string = "Python Programming"
slice = string[:3]
print(slice)

Pyt

4. Write a code to Convert the string "hello" to uppercase:

In [9]:
string = "hello"
uppercase_string = string.upper()
print(uppercase_string)

HELLO

5. Write a code to Replace the word "apple" with "orange" in the string "I like apple":

In [11]:
string = "I like apple"
new_string = string.replace("apple", "orange")
print(new_string)

I like orange

6. Write a code create and print a list with numbers 1 to 5:

In [13]:
numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

7. Write a code to Append the number 10 to the list [1, 2, 3, 4]:

In [15]:
numbers = [1, 2, 3, 4]
numbers.append(10)
print(numbers)

[1, 2, 3, 4, 10]

8. Write a code to Remove the number 3 from the list [1, 2, 3, 4, 5]:

In [17]:
numbers = [1, 2, 3, 4, 5]
numbers.remove(3)
print(numbers)

[1, 2, 4, 5]

9. Write a code to Access the second element in the list ['a', 'b', 'c', 'd']:

In [19]:
letters = ['a', 'b', 'c', 'd']
second_element = letters[1]
print(second_element)

b

10. Write a code to reverse the list [10, 20, 30, 40, 50]:

In [21]:
numbers = [10, 20, 30, 40, 50]
numbers.reverse()
print(numbers)

[50, 40, 30, 20, 10]

11. Write a code to Create and print a tuple with the elements 100, 200, 300:

In [23]:
my_tuple = (100, 200, 300)
print(my_tuple)

(100, 200, 300)

12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow'):

In [25]:
colors = ('red', 'green', 'blue', 'yellow')
second_to_last = colors[-2]
print(second_to_last)

blue

13. Write a code to Find the minimum number in the tuple (10, 20, 5, 15):

In [27]:
numbers = (10, 20, 5, 15)
min_number = min(numbers)
print(min_number)

5

14. Write a code to find the index of the element 'cat' in the tuple ('dog', 'cat', 'rabbit'):

In [29]:
animals = ('dog', 'cat', 'rabbit')
index_of_cat = animals.index('cat')
print(index_of_cat)

1

15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it:

In [31]:
fruits = ("apple", "banana", "cherry")
is_kiwi_in_fruits = "kiwi" in fruits
print(is_kiwi_in_fruits)

False

16. Write a code to create a set with the elements 'a', 'b', 'c' and print it:

In [33]:
my_set = {'a', 'b', 'c'}
print(my_set)

{'c', 'a', 'b'}

17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}:

In [35]:
my_set = {1, 2, 3, 4, 5}
my_set.clear()
print(my_set)

set()

18. Write a code to remove the element 4 from the set {1, 2, 3, 4}:

In [37]:
my_set = {1, 2, 3, 4}
my_set.remove(4)
print(my_set)

{1, 2, 3}

19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}:

In [39]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1.union(set2)
print(union_set)

{1, 2, 3, 4, 5}

20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}:

In [41]:
set1 = {1, 2, 3}
set2 = {2, 3, 4}
intersection_set = set1.intersection(set2)
print(intersection_set)

{2, 3}

21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it:

In [43]:
person = {
    "name": "John",
    "age": 25,
    "city": "New York"
}
print(person)

{'name': 'John', 'age': 25, 'city': 'New York'}

22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}:

In [45]:
person = {
    "name": "John",
    "age": 25
}
person["country"] = "USA"
print(person)

{'name': 'John', 'age': 25, 'country': 'USA'}

23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}:

In [47]:
person = {
    "name": "Alice",
    "age": 30
}
name = person["name"]
print(name)

Alice

24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}:

In [49]:
person = {
    "name": "Bob",
    "age": 22,
    "city": "New York"
}
del person["age"]
print(person)

{'name': 'Bob', 'city': 'New York'}

25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}

In [ ]:

person = {'name': 'Alice', 'city': 'Paris'}


if 'city' in person:
    print("The key 'city' exists in the dictionary.")
else:
    print("The key 'city' does not exist in the dictionary.")

26. Write a code to create a list, a tuple, and a dictionary, and print them all:

In [51]:
my_list = [1, 2, 3]
my_tuple = (4, 5, 6)
my_dict = {"key1": "value1", "key2": "value2"}

print(my_list)  
print(my_tuple)  
print(my_dict)

[1, 2, 3]
(4, 5, 6)
{'key1': 'value1', 'key2': 'value2'}

27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result:

In [53]:
import random

random_numbers = [random.randint(1, 100) for _ in range(5)]
random_numbers.sort()
print(random_numbers)

[3, 24, 39, 79, 84]

28. Write a code to create a list with strings and print the element at the third index:

In [55]:
my_list = ["apple", "banana", "cherry", "date"]
third_element = my_list[3]
print(third_element)

date

29. Write a code to combine two dictionaries into one and print the result:

In [57]:
dict1 = {"a": 1, "b": 2}
dict2 = {"c": 3, "d": 4}

combined_dict = {**dict1, **dict2}
print(combined_dict)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

30. Write a code to convert a list of strings into a set:

In [59]:
my_list = ["apple", "banana", "cherry", "apple"]
my_set = set(my_list)
print(my_set)

{'banana', 'cherry', 'apple'}